body {
	margin: 0;
	padding: 0;
	color: #000000ff;
	transition: 0.08s;
	text-align: center; /* Center container horizontally */
}

.container {
	padding: 16px 16px 16px 16px;
	border-radius: 4%;
	text-align: center;
	display: inline-block;
	box-shadow: 0 8px #000000ff;
	background-color: #ffffffff;
	outline: 2px solid #000000ff;
}

.column { float: left; }

.btn {
	width: 200px;
	height: 200px;
	cursor: pointer;
	transition: 0.08s;
	border-radius: 16%;
	margin: 16px 6px 16px 6px;
	box-shadow: 0 8px #000000ff;
	outline: 2px solid #000000ff;
	&:active {
		transform: translateY(4px);
		box-shadow: 0 3px #000000ff;
	}
}

.green { /* Top-left */
	background-color: #dbe4ee;
	border-radius: 96% 16% 96% 16%;
	/* background-image: radial-gradient(circle at 100% 100%, white 120px, #255799ff 120px); */
}

.yellow { /* Top-right */
	background-color: #81a4cd;
	border-radius: 16% 96% 16% 96%;
	/* background-image: radial-gradient(circle at 0% 100%, white 120px, #fecc07ff 120px); */
}

.red { /* Bottom-right */
	background-color: #054a91;
	border-radius: 16% 96% 16% 96%;
	/* background-image: radial-gradient(circle at 100% 0%, white 120px, #fecc07ff 120px); */
}

.blue { /* Bottom-left */
	background-color: #3e7cb1;
	border-radius: 96% 16% 96% 16%;
	/* background-image: radial-gradient(circle at 0% 0%, white 120px, #255799ff 120px); */
}

.game-over {
	color: #ffffffff;
	background-color: #ff0000ff;
}

.pressed {
	opacity: 1;
	transform: translateY(4px);
	box-shadow: 0 4px #000000ff;
}