/* Globals */

html {
	font-size: 1rem;
	text-align: center;
	overflow-y: scroll;
	scroll-behavior: smooth;
	overflow-wrap: break-word;
	font-family: Georgia, serif;
	background-color: #ffffffff;
	-webkit-tap-highlight-color: transparent;
}

a {
	color: #000000ff;
	&:hover { opacity: 0.64; }
}

h1 { margin: 0; }

h1, h2 { font-size: 1.2rem; }

h3 { font-size: 1.08rem; }

h4 {
	margin: 0px;
	font-weight: normal;
	display: inline-block;
}

pre {
	line-height: 100%;
	user-select: none;
}

nav {
	& a {
		font-weight: 900;
		font-size: 1.16rem;
		text-decoration: none;
		display: inline-block;
		margin: -16px 4px 0px 4px;
		& #depressed { opacity: 0.64; }
	}
}

/* Classes and IDs */

.print { display: none; }

.passive { color: #666666ff; }

.no-print { display: normal; }

.shortcut {
	font-weight: 900;
	text-align: center;
	margin: 24px 0px 48px 0px;
}

.v-list { margin-left: -16px; }

.h-list {
	margin-left: -40px;
	li {
		display: inline;
		position: relative;
		&:before { content: "\00a0\00a0\2022\00a0\00a0"; }
		&:first-of-type:before { content: 'Technologies\00a0\00a0\25B8\00a0\00a0'; }
	}
}

#name {
	display: inline-block;
	text-decoration: none;
}

#resume {
	margin: auto;
	max-width: 768px;
	text-align: left;
	& h1 {
		padding-top: 8px;
		font-size: 2.4rem;
	}
}

#poi { font-size: 1rem; }

#headshot {
	padding: 4px;
	max-width: 196px;
	margin-top: 16px;
	border: 4px double #000000ff;
}

#socials {
	& img {
		width: 24px;
		height: 24px;
	}
	& a {
		display: inline-block;
		margin: 0px 4px 0px 4px;
	}
	& * { vertical-align: middle; }
}

#terminal {
	border: 2px groove;
	box-sizing: border-box;
	padding: 0px 8px 0px 8px;
	font-family: monospace, Lucida Console, Courier New;
	b { color: #000000ff; }
	a { white-space: normal; }
	pre {
		margin-top: -16px;
		text-shadow: 0.08px 0 0, 0 0.08px 0, 0 -0.08px 0, -0.08px 0 0;
	}
	.project { * { margin: 8px 0px 8px 0px; } }
}

/* Media queries */

@media screen and (max-width: 359px) { header { & pre { font-size: 0.72rem; } } }

@media screen and (min-width: 401px) and (max-width: 440px) { header { & pre { font-size: 0.96rem; } } }

@media screen and (min-width: 360px) and (max-width: 400px) { header { & pre { font-size: 0.84rem; } } }

@media screen and (min-width: 359px) and (max-width: 440px) { .shortcut { display: none; } }

@media print {
	.print { display: block; }
	.no-print { display: none; }
}